[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    ci = commit
    df = diff
    co = checkout
    br = branch
[user]
    name = liuxd
    email = liuxidong1984@gmail.com
[core]
    excludesfile = ~/.gitignore
